@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    // background-color: var(--light-500);
    background-color: #fff;
    color: var(--dark-900);
}

button {
    cursor: pointer;
    padding: 15px;
    border: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    transition: filter .2s;
}

button:hover {
    filter: brightness(.7);
}

.padding-border {
    padding: calc(var(--default-margin-padding) - 15px);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}




@media (max-width: 767.98px) {
    main {

    }

    .sidebar {

    }
}