.filter-container {
    display: flex;
    flex-direction: column;

    .component-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;

        i {
            display: none;
        }
    }

    .filter {
        margin: calc(var(--default-margin-padding) - 15px) 0;
        background-color: var(--light-0);
        padding: calc(var(--default-margin-padding) - 15px);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);

        p {
            font-weight: bold;
            margin-bottom: 15px;
        }

        hr {
            margin: 25px 0;
        }

        .slider-title {
            display: flex;
            justify-content: space-between;

            span {
                font-weight: bold;
            }
        }

        .filter-field {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;

            .input-group {
                display: flex;
                align-items: center;
                flex-grow: 1;

                input {
                    margin-right: 10px;
                }

                label {
                    width: 100%;
                }
            }

            .rating-field {
                display: flex;
                gap: 5px;

                .fa-star {
                    color: var(--yellow-500);
                }

                span {
                    margin-left: 10px;
                }
            }

            &.price-range {
                width: 100%;
                flex: 1;

                .range-input {
                    width: 100%;
                }

                .first-half {
                    transform: rotateY(180deg);
                }

                input[type="range"].second-half {
                    margin-left: -7px;
                }
            }
        }
    }

    button {
        font-size: 1rem;
        background-color: var(--blue-600);
        color: var(--light-0);

        i {
            margin-right: 8px;
        }
    }

}

@media (max-width: 1052px) {
    .filter-container {
        background-color: var(--light-0);
        padding: 20px;

        .component-header {
            i {
                display: block;
                font-size: 2rem;
            }
        }

        .filter {
            padding: 0;
            border-radius: none;
            box-shadow: none;
        }
    }
}