.sidebar {
    padding: calc(var(--default-margin-padding) - 10px);
    box-shadow: var(--sidebar-box-shadow);

    position: fixed;
    width: var(--sidebar-width);
    // left: calc(-1 * var(--sidebar-width));
    height: 100%;
    transition: all .5s ease;

    overflow: scroll;
    overflow-x: hidden;

    img.logo {
        margin-bottom: 40px;
    }

    h4 {
        padding-left: 10px;
        margin-top: 30px;
    }

    .sidebar-menu-item {
        // background-color: #f00;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;

        transition: .2s;

        i {
            margin-right: 5px;
            width: 25px;
        }

        &:hover {
            background-color: var(--dark-900);
            color: var(--light-0);
        }

        &.dropdown {
            display: flex;
            justify-content: space-between;

            i.fas.fa-chevron-right {
                margin-right: 0;
                text-align: right;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .sidebar {
        left: calc(-1 * var(--sidebar-width));
        box-shadow: none;
    }
}
